In [1]:
import pandas as pd
import numpy as np

# Loading and Shaping Wine Data
## Data from the Wine Reviews Dataset on Kaggle, provided by zackthoutt last updated on 11/24/17. 
### Within this set, I am utilizing the winemag-data-130k-v2.csv
### Merry Cimakasky, Begun 12/19/19

#### loading in csv to data frame, cleaning redundant index column.

In [2]:
df = pd.read_csv('data/winemag-data-130k-v2.csv')
wine_df = df[["country", "description", 'designation', 'points', 'price', 'province', 'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title', 'variety', 'winery']]
wine_df.sample(3)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
25429,US,This wine starts out brawny and tannic before ...,Alegria Vineyard,90,28.0,California,Russian River Valley,Sonoma,Virginie Boone,@vboone,Bailiwick 2013 Alegria Vineyard Cabernet Franc...,Cabernet Franc,Bailiwick
26622,Italy,"This hearty Barbera d'Alba exhibits a dark, to...",Amabilin,89,52.0,Piedmont,Barbera d'Alba Superiore,NaN,NaN,NaN,Cascina Adelaide 2006 Amabilin (Barbera d'Alb...,Barbera,Cascina Adelaide
43053,US,"This tight, young Syrah has a succinct core of...",Stillwater Creek Vineyard,90,28.0,Washington,Columbia Valley (WA),Columbia Valley,Paul Gregutt,@paulgwine,Novelty Hill 2009 Stillwater Creek Vineyard Sy...,Syrah,Novelty Hill

In [3]:
wine_df.describe()

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363389
std         3.039730      41.022218
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

In [4]:
country_array = wine_df.country.unique()
country_array

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

#### filter data frames for each country

In [5]:
argentina_df = wine_df[wine_df.country == 'Argentina']
# argentina_df.sample(3)

In [ ]:
armenia_df = wine_df[wine_df.country == 'Armenai']
# armenia_df.sample(3)

In [6]:
australia_df = wine_df[wine_df.country == 'Australia']
# australia_df.sample(3)

In [7]:
austria_df = wine_df[wine_df.country == 'Austria']
# austria_df.sample(3)

In [40]:
bosnia_herzegovina_df = wine_df[wine_df.country == 'Bosnia and Herzegovina']
# bosnia_herzegovina_df.sample(3)

In [36]:
brazil_df = wine_df[wine_df.country == 'Brazil']
# brazil_df.sample(3)

In [39]:
bulgaria_df = wine_df[wine_df.country == 'Bulgaria']
# bulgaria_df.sample(3)

In [21]:
canada_df = wine_df[wine_df.country == 'Canada']
# canada_df.sample(3)

In [8]:
chile_df = wine_df[wine_df.country == 'Chile']
# chile_df.sample(3)

In [45]:
china_df = wine_df[wine_df.country == 'China']
# china_df.sample(3)

In [46]:
croatia_df = wine_df[wine_df.country == 'Croatia']
# croatia_df.sample(3)

In [47]:
cyprus_df = wine_df[wine_df.country == 'Cyprus']
# cyprus_df.sample(3)

In [28]:
czech_republic_df = wine_df[wine_df.country == 'Czech Republic']
# czech_republic_df.sample(3)

In [ ]:
egypt_df = wine_df[wine_df.country == 'Egypt']
# egypt_df.sample(3)

In [33]:
england_df = wine_df[wine_df.country == 'England']
# england_df.sample(3)

In [9]:
france_df = wine_df[wine_df.country == 'France']
# france_df.sample(3)

In [ ]:
georgia_df = wine_df[wine_df.country == 'Georgia']
# georgia_df.sample(3)

In [10]:
germany_df = wine_df[wine_df.country == 'Germany']
# germany_df.sample(3)

In [17]:
greece_df = wine_df[wine_df.country == 'Greece']
# greece_df.sample(3)

In [16]:
hungary_df = wine_df[wine_df.country == 'Hungary']
# hungary_df.sample(3)

In [ ]:
india_df = wine_df[wine_df.country == 'India']
# india_df.sample(3)

In [11]:
italy_df = wine_df[wine_df.country == 'Italy']
# italy_df.sample(3)

In [15]:
israel_df = wine_df[wine_df.country == 'Israel']
# israel_df.sample(3)

In [34]:
lebanon_df = wine_df[wine_df.country == 'Lebanon']
# lebanon_df.sample(3)

In [31]:
luxembourg_df = wine_df[wine_df.country == 'Luxembourg']
# luxembourg_df.sample(3)

In [44]:
macedonia_df = wine_df[wine_df.country == 'Macedonia']
# macedonia_df.sample(3)

In [20]:
mexico_df = wine_df[wine_df.country == 'Mexico']
# mexico_df.sample(3)

In [37]:
moldova_df = wine_df[wine_df.country == 'Moldova']
# moldova_df.sample(3)

In [ ]:
morocco_df = wine_df[wine_df.country == 'Morocco']
# morocco_df.sample(3)

In [19]:
new_zealand_df = wine_df[wine_df.country == 'New Zealand']
# new_zealand_df.sample(3)

In [38]:
peru_df = wine_df[wine_df.country == 'Peru']
# peru_df.sample(3)

In [12]:
portugal_df = wine_df[wine_df.country == 'Portugal']
# portugal_df.sample(3)

In [18]:
romania_df = wine_df[wine_df.country == 'Romania']
# romania_df.sample(3)

In [35]:
serbia_df = wine_df[wine_df.country == 'Serbia']
# serbia_df.sample(3)

In [43]:
slovakia_df = wine_df[wine_df.country == 'Slovakia']
# slovakia_df.sample(3)

In [29]:
slovenia_df = wine_df[wine_df.country == 'Slovenia']
# slovenia_df.sample(3)

In [13]:
south_africa_df = wine_df[wine_df.country == 'South Africa']
# south_africa_df.sample(3)

In [42]:
switzerland_df = wine_df[wine_df.country == 'Switzerland']
# switzerland_df.sample(3)

In [27]:
turkey_df = wine_df[wine_df.country == 'Turkey']
# turkey_df.sample(3)

In [41]:
ukraine_df = wine_df[wine_df.country == 'Ukraine']
# ukraine_df.sample(3)

In [32]:
uruguay_df = wine_df[wine_df.country == 'Uruguay']
# uruguay_df.sample(3)

In [14]:
us_df = wine_df[wine_df.country == 'US']
# us_df.sample(3)

In [26]:
# no_country_df = wine_df[wine_df.country == "nan"]
# need to pull off and access the nan section of the country section.