In [31]:
import pandas as pd

In [32]:
wine_df = pd.read_csv('data/winemag-data-130k-v2.csv')

In [47]:
ranked_wine = wine_df[['description','points']].sort_values(by='points')
ranked_wine

                                              description  points
118056  This wine has very little going on aromaticall...      80
35516   This Merlot has not fully ripened, with aromas...      80
11086   Picture grandma standing over a pot of stewed ...      80
11085   A white this age should be fresh and crisp; th...      80
102482  This wine is a medium cherry-red color, with s...      80
...                                                   ...     ...
111756  A hugely powerful wine, full of dark, brooding...     100
89728   This latest incarnation of the famous brand is...     100
89729   This new release from a great vintage for Char...     100
118058  This wine dazzles with perfection. Sourced fro...     100
111755  This is the finest Cheval Blanc for many years...     100

[129971 rows x 2 columns]

In [0]:
range = 100 - 80
range

In [0]:
round(range/3)

In [0]:
def create_sentiment(int): 
    if int >= 80 and int < 87: 
        return 0
    if int >= 87 and int < 95: 
        return 1
    if int >= 95 and int < 101: 
        return 2

In [45]:
ranked_wine['sentiment'] = ranked_wine['points'].apply(create_sentiment)

ranked_wine.sample(5)

                                             description  points  sentiment
90936  This is an astonishingly good Pinot Noir that ...      97          2
61525  This is a terrific wine to pair with pizza or ...      86          0
96763  While the nose is savory, dominated by smoke a...      89          1
7560   An impressively structured wine, full of conce...      90          1
4242   From a highly sought-after vineyard site, this...      88          1

In [0]:
def clean_commas(str):
    return str.replace(',', ';')

In [0]:
ranked_wine['description'] = ranked_wine['description'].apply(clean_commas)

ranked_wine.sample(5)

In [0]:
ranked_wine.to_csv('ranked_wine.csv')