In [1]:
import pandas as pd

In [2]:
wine_df = pd.read_csv('data/winemag-data-130k-v2.csv')

In [3]:
ranked_wine = wine_df[['description','points']].sort_values(by='points')
ranked_wine

                                              description  points
118056  This wine has very little going on aromaticall...      80
35516   This Merlot has not fully ripened, with aromas...      80
11086   Picture grandma standing over a pot of stewed ...      80
11085   A white this age should be fresh and crisp; th...      80
102482  This wine is a medium cherry-red color, with s...      80
...                                                   ...     ...
111756  A hugely powerful wine, full of dark, brooding...     100
89728   This latest incarnation of the famous brand is...     100
89729   This new release from a great vintage for Char...     100
118058  This wine dazzles with perfection. Sourced fro...     100
111755  This is the finest Cheval Blanc for many years...     100

[129971 rows x 2 columns]

In [4]:
range = 100 - 80
range

20

In [5]:
round(range/3)

7

In [6]:
def create_sentiment(int): 
    if int >= 80 and int < 88: 
        return 0
    if int >= 87 and int < 95: 
        return 1
    if int >= 94 and int < 101: 
        return 2

In [7]:
ranked_wine['sentiment'] = ranked_wine['points'].apply(create_sentiment)

ranked_wine.sample(3)

                                              description  points  sentiment
108569  This is so rustic that it has lost its fruit. ...      83          0
31618   This wine opens with slightly rustic, leafy ar...      89          1
43384   Straightforward Tempranillo aromas and flavors...      83          0

In [8]:
def clean_commas(str):
    return str.replace(',', ';')

In [9]:
ranked_wine['description'] = ranked_wine['description'].apply(clean_commas)

ranked_wine.sample(3)

                                              description  points  sentiment
73949   This medium-bodied wine has meaty aromas follo...      85          0
115094  Much better than the 2009; this Malbec opens w...      88          1
106785  This attractive; smooth-textured wine offers p...      88          1

In [10]:
ranked_wine.to_csv('ranked_wine.csv')